
<app-usernav></app-usernav>
<div class="view-feedback">
  <div class="feed"> 
  <h1>Applied Loans</h1>
  <div class="underline"></div>

  <div class="search-container">
    <label for="search"> </label>
    <input type="text" id="search" name="search" placeholder="Search here..." (input)="searchByLoanName($event.target.value)">
  </div>

  <table>
    <thead>
      <tr>
        <th>S.No</th>
        <th>Loan Name</th>
        <th>Submission Date</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="filteredLoans.length === 0">
        <td colspan="5" class="no-records">Oops! No records found</td>
      </tr>
      <tr *ngFor="let loan of filteredLoans; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ loanDetails[loan.loanId]?.loanType || 'N/A' }}</td>
        <td>{{ loan.submissionDate | date:'mediumDate' }}</td>
        <td>
          {{ loan.loanStatus === 0 ? 'Pending' : (loan.loanStatus === 1 ? 'Approved' : (loan.loanStatus === 2 ? 'Rejected' : 'Unknown')) }}
        </td>
        <td><button (click)="confirmDelete(loan)" [disabled]="loan.loanStatus === 1">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>

  <!-- Confirmation Popup -->
  <div *ngIf="showConfirmationPopup" class="confirmation-popup">
    <p>Are you sure you want to delete?</p>
    <button (click)="deleteLoan()">Yes, Delete</button>
    <button (click)="cancelDelete()">Cancel</button>
  </div>
</div>

