<app-adminnav></app-adminnav>
<router-outlet></router-outlet>
<div>
  <div class="content">
    <h1>Farm Financer</h1>
    <p>
      Farm Financer is a digital platform designed to support farmers and agricultural businesses in securing
      reliable and flexible financial assistance. This platform offers a comprehensive selection of loan options
      tailored to various agricultural needs such as crop cultivation, farm equipment purchases, and land expansion.
      Each loan is accompanied by detailed descriptions of interest rates and clear terms and conditions, empowering
      users to make informed decisions. This ensures that farmers can access the financial support they need with ease,
      providing a seamless and user-friendly application process to help grow their agricultural ventures.
    </p>
  </div>
</div>


