<div class="create-loan-container">
    <h1>Loan Application Form</h1>
    <form #loanForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="farmLocation">Farm Location:</label>
        <input id="farmLocation" name="farmLocation" [(ngModel)]="loanData.FarmLocation" required #farmLocation="ngModel" />
        <div *ngIf="farmLocation.invalid && farmLocation.touched" class="error-message">
          Location is required.
        </div>
      </div>
      <div class="form-group">
        <label for="farmerAddress">Farmer Address:</label>
        <input id="farmerAddress" name="farmerAddress" [(ngModel)]="loanData.FarmerAddress" required #farmerAddress="ngModel" />
        <div *ngIf="farmerAddress.invalid && farmerAddress.touched" class="error-message">
          Farmer Address is required.
        </div>
      </div>
      <div class="form-group">
        <label for="farmSizeInAcres">Farm Size (in acres):</label>
        <input id="farmSizeInAcres" name="farmSizeInAcres" [(ngModel)]="loanData.FarmSizeInAcres" required #farmSizeInAcres="ngModel" />
        <div *ngIf="farmSizeInAcres.invalid && farmSizeInAcres.touched" class="error-message">
          Size is required.
        </div>
      </div>
      <div class="form-group">
        <label for="farmPurpose">Farm Purpose:</label>
        <input id="farmPurpose" name="farmPurpose" [(ngModel)]="loanData.FarmPurpose" required #farmPurpose="ngModel" />
        <div *ngIf="farmPurpose.invalid && farmPurpose.touched" class="error-message">
          Purpose is required.
        </div>
      </div>
      <div class="form-group">
        <label for="file">File:</label>
        <input id="file" name="file" [(ngModel)]="loanData.File" />
      </div>
      <button type="submit" [disabled]="loanForm.invalid">Apply</button>
      <button type="button" (click)="goBack()">Back</button>
    </form>
   
    <!-- Success Modal -->
    <div *ngIf="showSuccessPopup" class="modal">
      <div class="modal-content">
        <span class="close" (click)="closePopup()">&times;</span>
        <p>Application submitted successfully!</p>
        <button class="ok-button" (click)="closePopup()">OK</button>
      </div>
    </div>
   
    <!-- Error Message -->
    <div *ngIf="errorMessage" class="error-message">
      <p>{{ errorMessage }}</p>
    </div>
  </div>
  