<div class="container">
    <h1>Login</h1>
    <form #loginData="ngForm" (ngSubmit)="login()">
      <div>
        <label class="form-label" for="email">Email:</label>
        <input
          type="email"
          name="email"
          id="email"
          class="form-control"
          [(ngModel)]="logindto.Email"
          placeholder="Enter the Email"
          required
          aria-label="Email"
        />
        <div
          class="error-message"
          *ngIf="loginData.submitted && (!logindto.Email)"
        >
          <strong>Email is required.</strong>
        </div>
      </div>
  
      <div>
        <label for="password" class="form-label">Password:</label>
        <div class="password-container">
          <input
            [type]="showPassword ? 'text' : 'password'"
            class="form-control"
            name="password"
            id="password"
            [(ngModel)]="logindto.Password"
            placeholder="Enter the Password"
            required
            aria-label="Password"
          />
         
        </div>
        <div
          class="error-message"
          *ngIf="loginData.submitted && !logindto.Password"
        >
          <strong>Password is required.</strong>
        </div>
        <div *ngIf="logindto.Password" class="password-strength">
          Password strength: {{ calculateStrength(logindto.Password) }}
        </div>
      </div>
  
      <div style="text-align: center;">
        <button
          type="submit"
          class="btn btn-success"
          [disabled]="loginData.invalid"
        >
          Login
        </button>
      </div>
  
      <div class="foot">
        <p>
          Don't have an account?
          <a routerLink="/register" aria-label="Register here">Register here</a>
        </p>
      </div>
    </form>
  </div>