
/* General Styles */
body {
  font-family: Arial, sans-serif;
  background: url('https://www.bankofbaroda.in/-/media/project/bob/countrywebsites/india/blogs/loansborrowings/images/types-of-agriculture-loans.jpg') no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  margin: 0;
}

/* Blur Effect for Background */
.container {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  padding: 30px;
  border-radius: 10px;

  text-align: center;
  width: 350px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

/* Header Styling */
h1 {
  font-size: 30px;
  color: #ffffff;
  margin-bottom: 20px;
  -webkit-text-stroke: 1px rgb(247, 246, 246);
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Form Styling */
.form-group {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 15px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #fff9f9;
  font-family: 'Times New Roman', Times, serif;
}

input {
  padding: 10px;
  border: 1px solid #e8d5d5;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.8);
  /* font-family: 'Times New Roman', Times, serif; */
}

/* Password Field with Eye Icon */
.password-container {
  position: relative;
}

.password-container i {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #efe9e9;
}

/* Button Styling */
button {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  background: linear-gradient(135deg, rgb(36, 66, 45), #2ecc71);
  border: none;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: 0.3s;
}

button:disabled {
  background: #ccc;
  cursor: not-allowed;
}

button:hover {
  transform: scale(1.05);
}

/* Link Styling */
p {
  margin-top: 15px;
  color: #fff9f9;
  font-weight: 500;
  font-family: 'Times New Roman', Times, serif;
}

a {
  text-decoration: none;
  color: #3498db;
  font-weight: bold;
  transition: 0.3s;
  font-family: 'Times New Roman', Times, serif;
}

a:hover {
  color: #2ecc71;
}
