<app-adminnav></app-adminnav>
<div class="view-feedback">
  <h1>Feedback Details</h1>
  <div class="underline"></div>
  <table>
    <thead>
      <tr>
        <th>S.No</th>
        <th>User Name</th>
        <th>Feedback</th>
        <th>Posted Date</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let feed of feedbacks; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ feed.user?.username }}</td> <!-- Displaying username -->
        <td>{{ feed.feedbackText }}</td>
        <td>{{ feed.date | date: 'mediumDate' }}</td>
        <td>
          <button (click)="showMore(feed)">Show Profile</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

